@media (min-width: 1240px) {
    .theme-default-sidebar {
        padding-left: 2rem !important;
        width: 19rem !important;
    }
}

:root {
    --svelteplot-bg: #fff;
}

html:not(.dark) .svp-action--flat {
    background-color: #eeeef8;
}

@media (min-width: 950px) {
    .content {
        width: 46vw !important;
        p {
            line-height: 1.75rem !important;
        }
    }
    .header-inner {
        width: 97vw !important;
    }
    .toc {
        width: 17vw !important;
    }
    .toc .title {
        font-weight: normal !important;
    }
    html .toc .item {
        font-size: 12px;
    }
    html .toc .item:not(.active) {
        opacity: 0.6;
    }
    main {
        padding-top: 90px !important;
    }
}

:root {
    --vp-layout-max-width: 1440px;
    --svelteplot-tooltip-bg: white;
    --svelteplot-tooltip-border: #ccc;
}

figure.svelteplot {
    h2 {
        border-top: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    h3 {
        font-weight: 400;
        font-size: 16px;
    }
    h2 + h3 {
        margin-top: 5px !important;
    }
    .plot-header {
        margin-bottom: 5px;
    }
    .plot-footer {
        margin-top: 5px;
    }
    figcaption {
        font-size: 12px;
        opacity: 0.6;
    }
}

html {
    body {
        font-size: 16px;
        line-height: 28px;
    }

    .admonition-heading {
        display: none !important;
    }

    .admonition-content p:first-child {
        margin-top: 0 !important;
    }

    .svp-live-code--demo {
        padding: 0;
    }

    .svp-live-code--container {
        --un-border-opacity: 0;
        --un-shadow: none;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .svp-live-code--container .c-expansion {
        display: none;
    }

    .theme-default-sidebar .links {
        font-size: 14px;
        a.link {
            opacity: 0.7;
            &.active {
                opacity: 1;
            }
            .active-icon {
                display: none;
            }
        }
    }

    .nav-links {
        font-size: 15px !important;
        background-color: var(--svelteplot-bg);
        box-shadow: 0px 0px 7px 4px var(--svelteplot-bg);
    }

    .content {
        h1.page-title {
            padding-bottom: 1rem !important;
            font-weight: 600;
        }

        h2 {
            margin-top: 4rem !important;
            padding-top: 2rem !important;
            font-weight: 600;
        }

        code {
            white-space: nowrap;
        }

        pre code {
            white-space: pre-wrap;
        }
    }

    .sidebar-logo a.nav-item {
        padding-left: 0 !important;

        img {
            height: 24px;
        }
    }

    .sidebar-group.nested {
        padding-left: 0;
    }
    .sidebar-group.nested .sidebar-group.nested {
        padding-left: 1rem;
    }
    .svp-code-block--hl {
        background-color: rgb(216 26 90 / 0.15) !important;
    }
    .theme-default-sidebar .sidebar-logo {
        z-index: 1;
        font-size: 1.25rem;
        background-color: #f1f3f5 !important;
        box-shadow: 0 2px 5px #f1f3f5;
    }

    &.dark {
        --svelteplot-tooltip-bg: #18181b;
        --svelteplot-tooltip-border: #333;

        --svelteplot-bg: #1b1b1f;
        body {
            background-color: var(--svelteplot-bg) !important;
        }

        .feature-item {
            background-color: #0f0f11 !important;
            .icon {
                --un-bg-opacity: 0 !important;
            }
        }

        .theme-default-sidebar {
            background-color: #161618 !important;
        }
        .theme-default-sidebar .sidebar-logo {
            background-color: #161618 !important;
            box-shadow: 0 2px 5px #161618;
        }

        .svp-code-block-wrapper {
            .shiki.github-light {
                display: none;
            }
            background-color: #0f0f0f;
        }

        .svp-live-code--container {
            --un-border-opacity: 0 !important;
            --un-shadow: none !important;
        }
    }

    &:not(.dark) {
        body {
            background-color: white;
        }
        .svp-code-block-wrapper {
            .shiki.github-dark {
                display: none;
            }
            background-color: #f2f2f6;
        }
    }
}
