@media (min-width: 1240px) {
    .theme-default-sidebar {
        padding-left: 3vw !important;
        width: 22vw !important;
    }
}

html.dark {
    .svp-code-block-wrapper {
        .shiki.github-light { display: none; }
        background-color: #0f0f0f;
    }
}

html:not(.dark) {
    body { background-color: white; }
    .svp-code-block-wrapper {
        .shiki.github-dark { display: none; }
        background-color: #f2f2f6;
    }
}

figure.svelteplot {
    h2 {
        border-top: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    h3 {
        font-weight: 400;
        font-size: 16px;
    }
    h2 + h3 {
        margin-top: 5px!important;
    }
    .plot-header {
        margin-bottom: 5px;
    }
    .plot-footer {
        margin-top: 5px;
    }
    figcaption {
        font-size: 12px;
        opacity: 0.6;
    }
}

.svp-live-code--demo {
    padding: 0;
}

.svp-live-code--container {
    --un-border-opacity: 0;
    --un-shadow: none;
}

.dark .svp-live-code--container {
    --un-border-opacity: 0!important;
    --un-shadow: none!important;
}

.svp-live-code--container .c-expansion {
    display: none;
}