@media (min-width: 1240px) {
    .theme-default-sidebar {
        padding-left: 2rem !important;
        width: 19rem !important;
    }
}

:root {
    --svelteplot-bg: #fff;
}

.sidebar-logo a.nav-item {
    padding-left: 0!important;

    img {
        height: 24px;
    }
}

.content h1.page-title {
    padding-bottom: 1rem !important;
}

.content h2 {
    margin-top: 4rem !important;
    padding-top: 2rem !important;
}

.sidebar-group.nested {
    padding-left: 0;
}
.sidebar-group.nested .sidebar-group.nested {
    padding-left: 1rem;
}

html.dark {
    --svelteplot-bg: #1b1b1f;
    body {
        background-color: var(--svelteplot-bg) !important;
    }

    .theme-default-sidebar {
        background-color: #161618 !important;
    }
}

.theme-default-sidebar .links {
    font-size: 14px;
    a.link {
        opacity: 0.7;
    }
}

.nav-links {
    font-size: 15px !important;
    background-color: var(--svelteplot-bg);
    box-shadow: 0px 0px 7px 4px var(--svelteplot-bg);
}

@media (min-width: 950px) {
    .header-inner {
        width: 97vw !important;
    }
    .toc {
        width: 17vw !important;
    }
    .toc .title {
        font-weight: normal !important;
    }
    html .toc .item {
        font-size: 12px;
    }
    html .toc .item:not(.active) {
        opacity: 0.6;
    }
    main {
        padding-top: 90px !important;
    }
}

:root {
    --vp-layout-max-width: 1440px;
    --svelteplot-tooltip-bg: white;
    --svelteplot-tooltip-border: #ccc;
}

body {
    font-size: 15px;
    line-height: 22.5px;
}

html.dark {
    --svelteplot-tooltip-bg: #18181b;
    --svelteplot-tooltip-border: #333;
}

html.dark {
    .svp-code-block-wrapper {
        .shiki.github-light {
            display: none;
        }
        background-color: #0f0f0f;
    }
}

html:not(.dark) {
    body {
        background-color: white;
    }
    .svp-code-block-wrapper {
        .shiki.github-dark {
            display: none;
        }
        background-color: #f2f2f6;
    }
}

figure.svelteplot {
    h2 {
        border-top: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    h3 {
        font-weight: 400;
        font-size: 16px;
    }
    h2 + h3 {
        margin-top: 5px !important;
    }
    .plot-header {
        margin-bottom: 5px;
    }
    .plot-footer {
        margin-top: 5px;
    }
    figcaption {
        font-size: 12px;
        opacity: 0.6;
    }
}

.svp-live-code--demo {
    padding: 0;
}

.svp-live-code--container {
    --un-border-opacity: 0;
    --un-shadow: none;
}

.dark .svp-live-code--container {
    --un-border-opacity: 0 !important;
    --un-shadow: none !important;
}

.svp-live-code--container .c-expansion {
    display: none;
}
